
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>

  <body>
    <nav class="navbar bg-dark navbar-dark">
      <div class="container">
        <a href="/books" class="navbar-brand"><img src="https://img.icons8.com/cute-clipart/64/000000/book.png" class="mr-3">BookApp</a>
      </div>
    </nav>
    <section id="header" class="jumbotron text-center">
      <h1 class="display-3">Catalog</h1
        <p class="lead">Discover Classic Books</p>
        <a href="/books" class="btn btn-primary">Home</a>
        <a href="/books/new" class="btn btn-success">Add a book</a>
    </section>
